<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Factura</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            text-align: center;
        }

        label {
            display: block;
            margin-top: 10px;
            color: #555;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"],
        #regresarButton {
            background-color: #000; /* Cambio a negro */
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 0 auto; /* Centro el botón */
            margin-top: 15px;
        }

            input[type="submit"]:hover,
            #regresarButton:hover {
                background-color: #333; /* Cambio a un tono más oscuro al pasar el cursor */
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Generar Factura</h1>
        <form action="generar_factura.php" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="direccion">Dirección:</label>
            <textarea id="direccion" name="direccion" rows="4" required></textarea>

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" required>

            <label for="total">Total:</label>
            <input type="number" id="total" name="total" required>

            <input type="submit" value="Generar Factura">
        </form>
        <a href="@Url.Action("Index", "Mesa")">
            <button id="regresarButton">Regresar</button>
        </a>
    </div>
</body>
</html>
